---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "About";

const identity = {
    firstName: "Yeahjun",
    lastName: "HEO",
    nationality: "South Korea",
    hobbies: [],
    livedIn: [
        "South Korea",
        "Japan",
        "Malta",
        "Philippines",
        "Tunisia",
        "Oman",
    ],
    language: {
        korean: "native",
        enlglish: "native",
        japanese: "fluent (JLPT N1)",
    },
};

const education = {};

const workExperience = {};

const programmingLanguages = {};

const technicalSkills = {};

const personalProjects = {};

const contactInformation = {};
---

<BaseLayout pageTitle={pageTitle}>
    <h1>This is Yeahjun HEO</h1>
    <h2>Who is Yeahjun?</h2>
    <p>
        Yeahjun HEO is a Korean-born but Internationally-raised individual,
        aspiring to become a software developer who creates impactful and
        innovative solutions.
    </p>
</BaseLayout>
