---
import "../styles/global.css";
import PostListing from "../components/PostListing.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>yeahjunheo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=JetBrains+Mono:wght@400;700&family=Newsreader:ital,opsz,wght@0,6..72,400;0,6..72,600;0,6..72,700;1,6..72,400&display=swap"
    />
  </head>
  <body>
    <main class="mx-auto max-w-3xl p-8">
      <h1 class="mb-4 text-4xl">yeahjunheo</h1>

      <p class="mb-3 italic">
        Programming was not something I had in mind for myself, but it came to me as a cheaper and less messy way of
        tinkering with things without having to break things apart. Funnily enough, I still find myself breaking my
        devices time-to-time, while in the process of tinkering like usual. But that's not the point of this blog.
      </p>

      <p class="mb-3 text-sm">
        <a href="/about">about</a> · <a href="/archive">archive</a> · <a href="#">rss</a>
      </p>

      <p class="mb-6 text-sm">currently: <span class="italic">Learning about C++ with coding problems from Leetcode and AtCoder in Japan!</span></p>

      <PostListing />
    </main>
  </body>
</html>