---
import { Icon } from "astro-icon/components";
const pathname = Astro.url.pathname;
---

<header class="px-6 py-6">
    <div class="mx-auto flex max-w-3xl items-center justify-between">
        <nav class="flex gap-4 text-sm">
            <a
                href="/"
                class:list={[
                    "rounded-md px-3 py-1 hover:text-zissou-blue",
                    pathname === "/" && "bg-zissou-blue text-zissou-cream font-semibold hover:text-zissou-cream",
                ]}>Home</a
            >
            <a
                href="/blog"
                class:list={[
                    "rounded-md px-3 py-1 hover:text-zissou-blue",
                    pathname.startsWith("/blog") &&
                        "bg-zissou-red text-zissou-cream font-semibold hover:text-zissou-cream",
                ]}>Blog</a
            >
            <!-- <a
                href="/hobby"
                class:list={[
                    "rounded-md px-3 py-1 hover:text-zissou-blue",
                    pathname.startsWith("/hobby") &&
                        "bg-zissou-blue text-zissou-cream font-semibold hover:text-zissou-cream",
                ]}>Hobby</a
            > -->
            <a
                href="/about"
                class:list={[
                    "rounded-md px-3 py-1 hover:text-zissou-blue",
                    pathname.startsWith("/about") && "bg-zissou-green text-zissou-cream font-semibold hover:text-zissou-cream",
                ]}>About</a
            >
        </nav>
        <a href="/" aria-label="Home">
            <Icon
                name="ph:plant"
                size={24}
                class="text-zissou-foreground hover:text-zissou-green"
            />
        </a>
    </div>
</header>
